<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="do_it.Properties.Settings.DO_ITConnectionString" connectionString="Data Source=DESKTOP-KMOETRJ;Initial Catalog=DO_IT;Persist Security Info=True;User ID=sa;Password=redareda"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="do_it.Properties.Settings.DO_ITConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DO_IT;Persist Security Info=True;User ID=sa;Password=123456"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="do_it.Properties.Settings.DO_ITConnectionString" connectionString="Data Source=DESKTOP-MVQRPT3;Initial Catalog=DO_IT;Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="do_it.Properties.Settings.DO_ITConnectionString" connectionString="Data Source=DESKTOP-0PEAA9K;Initial Catalog=DO_IT;Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>
